/* @import "../../../node_modules/joint-plus/joint-plus.css"; */
/* 导入 joint-plus 样式 */
@import '@joint/plus/joint-plus.css';

/* #paper {
    position: absolute;
    top: 0;
    right: 170px;
    bottom: 0;
    left: 170px;
}

#stencil {
    position: absolute;
    top: 0;
    width: 170px;
    bottom: 0;
    left: 0;
}

#toolbar {
    position: absolute;
    top: 15px;
    right: 200px;
}

#toolbar .joint-toolbar {
    padding: 5px;
}

#inspector {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 170px;
}

/* port styling */
/* .available-magnet {
    fill: #5DA271;
} */

/* element styling */
/* .available-cell rect {
    stroke-dasharray: 5, 2;
}  */
